body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#textoFoto {
    background-color: mediumpurple;
    text-align: left;
    color: black;
    padding: 20px;
    width: 500px;   
}
img[src]{
    border-radius: 50%;
    margin-right: 20px;
    width: 250px;
    height: 220px;
    align-items: left;
    border: 2px solid aqua;
}
p{
    text-align: justify;
    margin: 20px;
}
.container{
    display: flex;
}
#derecha{
    background-color: mediumpurple;
    flex: auto;
    text-align: left;
}
section {
    background-color:#DA6BE5;
    margin: 20px;
    border: 2px dotted lightblue;
}
h2 {
    margin: 10px;
    color:rgb(117, 2, 117);
}
h3{
    margin: 10px;
    color: rgb(13, 13, 155);
}
ul li {
    margin-bottom: 5px;
    list-style-type:armenian;
    padding: 0;
    background-color: #DA6BE5;
}

